.sidePane {
  --bg1: rgba(242, 242, 242, 0.9);
  --bg2: #fbfbfb;
  --bg3: #f5f5f5;
  --bg4: rgba(0, 0, 0, 0.033);
  --bg5: rgba(0, 0, 0, 0.05);
  --sliderThumbClr: white;

  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 360px;
  border-radius: 0.5rem;
  color: var(--dark-txt);
  background: var(--bg1);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  overflow: hidden;
  transition: all ease-in 0.2s;
  z-index: 9999;
  transform: translateX(0);

  &[data-hide="true"] {
    bottom: 0.9rem;
    transform: translateX(110%);
    animation: overflow-hider 0s ease-in-out 0.2s forwards;
  }
}

body[data-theme="dark"] .sidePane {
  --bg1: rgba(36, 36, 36, 0.8);
  --bg2: rgba(255, 255, 255, 0.08);
  --bg3: rgba(255, 255, 255, 0.12);

  .uicon {
    filter: invert(1);
  }
}

.quickSettings {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.25rem;
}

.btnText {
  font-size: 0.62em;
  color: #040041;
}

.quickCont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.actionCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qkbtn {
  width: 6rem;
  height: 3rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  background: var(--bg2);
  border: solid 0.1px rgba(17, 17, 17, 0.1);
  transition: all 0.1s ease;

  &:hover {
    background: var(--bg3);
  }

  &[data-state="true"] {
    background: var(--clrPrm);

    .qktext {
      color: #ececec;
    }
  }
}

.qktext {
  width: max-content;
  font-size: 0.75em;
  margin: 0.33rem 0 1rem 0;
}

.sliderCont {
  width: 100%;
  display: flex;
  align-items: center;
}

.sliders {
  width: 100%;
  height: 4px;
}

.sliders::-webkit-slider-thumb {
  box-shadow: 0 0 0 4px rgb(255, 255, 255) inset;
  border-radius: 8px;
}

.bottomBar {
  margin-top: 1rem;
  background: var(--bg4);
  height: 3rem;
  display: flex;
  align-items: center;

  .battery-sidepane {
    display: flex;
    align-items: center;
    border-radius: 4px;

    &:hover {
      background: var(--bg2);
    }
  }
}