.toolbar{
  display: flex;
  width: 100%;
  height: 26px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: inherit;

  &[data-float="false"]{
    z-index: 10;
  }

  &[data-back="light"]{
    background: #fefefe;
  }

  &[data-back="dark"]{
    background: #181818;
  }
}

.topInfo{
  height: 100%;
  
  &[data-float="true"]{
    opacity: 0;
  }

  .uicon{
    margin: 0 10px 0 6px;
  }
}

.actbtns{
  height: 100%;

  .uicon{
    height: 100%;
    padding: 0 14px;
    transition: all ease-in-out 60ms;

    img{
      transition: all ease-in-out 60ms;
    }

    &:hover{
      background: rgba(136, 136, 136, 0.2);
    }

    &[data-payload="close"]:hover{
      background: rgba(255, 0, 0, 0.8);
      img{
        filter: invert(1);
      }
    }
  }
}

.snapbox{
  position: relative;

  &[data-hv="true"]{
    background: rgba(136, 136, 136, 0.2);
  }
}


@keyframes popup{
  0%{
    opacity: 0;
  }

  90%{
    opacity: 0;
    transform: scale(0);
  }

  100%{
    opacity: 1;
    transform: scale(1);
  }
}

.uicon{
  position: relative;
  display: grid;
  place-items: center;
}

.imageCont{
  position: relative;
  display: grid;
  place-items: center;
  width: auto;
  height: auto;

  &[data-back="true"]{
    background-position: center;
    background-size: cover;
  }

  img[data-free="false"]{
    max-width: 100%;
    max-height: 100%;
  }
}

.imageCont.rounded{
  overflow: hidden;
}

body[data-theme='dark'] .toolbar[data-noinvert="false"]{
  .appFullName {
    color: #fefefe;
  }

  .actbtns{
    .uicon img{
      filter: invert(1);
    }
  }
}

.resizecont {
  position: absolute;
  z-index: 12;
}

.topone{
  top: -2px;
  left: -8px;
  width: 100%;
}

.leftone{
  left: 0;
  height: 100%;
}

.rightone{
  right: 0;
  height: 100%;
}

.bottomone{
  bottom: 0;
  left: 0;
  width: 100%;
}

.conrsz{
  width: 8px;
  height: 8px;
  // background: #ee1515;
}

.edgrsz{
  min-width: 8px;
  min-height: 8px;
  // background: #1536ee;
}

.wdws{
  width: 100%;
}

.hdws{
  height: 100%;
}